@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'),
       local('Montserrat-Regular'),
       url(/fonts/montserrat-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'),
       local('Montserrat-Bold'),
       url(/fonts/montserrat-bold.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
}

body {
  margin: 0;
  background: hsla(284, 100%, 10%, 1);
  color: #CCC;
}

iframe, img, video {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

#container {
  display: grid;
  place-items: center;
  height: 100vh;
}

#callout {
  padding: 20px;
  text-align: center;
  background: hsla(284, 100%, 15%, 1 )
}
